.Main-Container{
    border: 1px solid crimson;
    display: flex;
    margin: 3rem;
    cursor: pointer;
    padding: 1rem;
}




.small-container{
 
    display: flex;
 
}


.img-small{
width: 80px;
margin: 5px;
box-sizing: border-box;
padding: 5px;
border: 2px solid transparent; /* Initially set a transparent border */
  display: flex;

}
.img-small:hover{

border: 3px solid rgb(60, 4, 214);
border-radius: 5px;
  box-shadow: 1px 2px 4px #7bcb4d;
cursor: pointer;
}
/* External CSS file (e.g., Blog.css) */

.main-image {
  transition: border 0.3s ease;
  box-sizing: border-box; /* Add a smooth transition for the border */
  width: 60%;
}


/* ProductDetails.css */

.product-details-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.product-details {
  margin-top: 20px;
}

.product-details ul {
  list-style: none;
  padding: 0;
}

.product-details li {
  margin-bottom: 5px;
}

.about-item {
  margin-top: 20px;
}

@media (max-width: 768px) {
  /* Apply responsive styles for screens up to 768px wide */
  .product-details-container {
    padding: 10px;
  }
}


