.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efbf1d;
    color: white;
    padding: 2.5rem;
    font-size: 2rem;
<<<<<<< HEAD
    font-weight: 500;
=======
    font-weight: 400;
>>>>>>> Ritik
   
}